# --- Laravel Defaults ---
/node_modules
/vendor
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
*.log

# --- Security & Environment ---
.env
.env.backup
.env.production
# Allow encrypted environment backups (The artisan env:encrypt way)
!.env.encrypted

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# --- Custom Additions ---
/auth.json
.phpactor.json